nav
    h1 Je suis une abeille
        span(id='menu-toggler')
            i(class='fas fa-bars')
    ul
        li
            a(href='/') Accueil
        li
            a(href='/plantes') Plantes
        li
            a(href='/scan') Scan
        li
            a(href='/classement') Classement
        li
            a(href='/connexion') Connexion