extends base

block title
    title Jouer
block content
    h3(id="titre") Scanner le rucher
    video(id='camera', muted=true)
    div(id='divPlantes' style='display:none')
      ul(id="listePlantes")
        each plante in plantes
          li #{plante.nom}
append scripts
    script(type='module').
        import QrScanner from './js/tools/qr-scanner.min.js';
        QrScanner.WORKER_PATH = './js/tools/qr-scanner-worker.min.js';

        const camera = document.getElementById('camera');

        const redirect = (result) => {
            const data = JSON.parse(result);
            if(data.type === 'ruche') {
          	let div = document.getElementById('divPlantes')
          	div.style.display = "block";

          	let titre = document.getElementById('titre')
          	titre.textContent = "Scanner les plantes";
            }
        }

        const qrScanner = new QrScanner(camera, result => {redirect(result)});
        qrScanner.start();
