extends base

block title
    title Scan

block content
    video(id='camera')
append scripts
    script(type='module').
        import QrScanner from './js/tools/qr-scanner.min.js';
        QrScanner.WORKER_PATH = './js/tools/qr-scanner-worker.min.js';

        const camera = document.getElementById('camera');
        
        const redirect = (result) => {
            const data = JSON.parse(result);

            if(data.type === 'ruche') {
                window.location.replace('/ruche');
                return;
            }

            const id = JSON.parse(result).id
            window.location.replace('/plantes/' + id);
        }

        const qrScanner = new QrScanner(camera, result => {redirect(result)});
        qrScanner.start();
