extends base

block title
    title Scan

block content
    h3 Scanner un QR Code
    video(id='camera', muted=true)
append scripts
    script(type='module').
        import QrScanner from './js/tools/qr-scanner.min.js';
        QrScanner.WORKER_PATH = './js/tools/qr-scanner-worker.min.js';

        const camera = document.getElementById('camera');
        
        const redirect = (result) => {
            const id = JSON.parse(result).id
            window.location.replace('http://localhost:3000/plantes/' + id);
        }

        const qrScanner = new QrScanner(camera, result => {redirect(result)});
        qrScanner.start();
